<footer id="footer" class="bg-4 fill-viewport-40 ">
    <div class="container">
        <div class="row py-5 ">
            <div class="col-12 col-md-7 order-md-1 order-2 pt-1 text-center text-md-left">
                <div class="copyright text-light"> </div>
            </div>
            <div class="col-12 col-md-5 order-md-2 order-1 py-5 py-md-0 text-center text-md-right">
                <div class="w-100 p-3 text-info d-md-none d-block">FOLLOW ME</div>
                <div class="social-wrapper">
                    <a  class="fa-flag" target="_blank" href="https://www.linkedin.com/in/roman-volodin-79179557">
                        <i class="fab fa-2x fa-linkedin-in my-0 mx-2" aria-hidden="true"></i>
                    </a>
                    <a  class="fa-flag" target="_blank" href="https://github.com/volodinroman">
                        <i class="fab fa-2x fa-github my-0 mx-2" aria-hidden="true"></i>
                    </a>
                    <a  class="fa-flag" target="_blank" href="https://vimeo.com/romanvolodincg">
                        <i class="fab fa-2x fa-vimeo-v my-0 mx-2" aria-hidden="true"></i>
                    </a>
                    <a  class="fa-flag" target="_blank" href="https://www.artstation.com/romanvldn">
                        <i class="fab fa-2x my-0 mx-2 fa-artstation" aria-hidden="true"></i>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</footer>
