<nav class="navbar navbar-expand-lg navbar-dark bg-4 py-3">
    <div class="container ">
        <a class="navbar-brand " href="#">Roman Volodin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto  mt-2 mt-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link ml-3" href="http://romanvolodin.com/blog">BLOG</a>
                </li> -->
                <!-- <li class="nav-item"><a class="nav-link ml-3" href="http://romanvolodin.com/artworks">ARTWORKS</a></li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link ml-3" href="http://romanvolodin.com/about">ABOUT</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
