<div class="container">
    <nav class="navbar navbar-expand-lg py-3 bg-3">  <!-- border-bottom -->

        <div class="container">
            
            <nav class="navbar">
                  <a class="navbar-brand" href="https://romanvolodin.com">
                    <img src="/assets/img/navbar_icon.svg" alt="Roman Volodin" > Roman Volodin
                  </a>
              </nav>
    
            <!-- Button for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            
                    <!-- Blog -->
                    <li class="nav-item">
                        <a class="nav-link ms-3 fw-dark text-dark" style="--bs-text-opacity: .7;" href="{{ 'blog/' | absolute_url }}">Blog</a>
                    </li>
                    
                    <!-- About -->
                    <li class="nav-item"> 
                        <a class="nav-link ms-3 fw-dark text-dark" style="--bs-text-opacity: .7;" href="{{ 'about/' | absolute_url }}">About</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>
</div>
<!-- <div class="separator"></div> -->