// cards
.card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .card{
        height: 27rem;
    }
}

@media (min-width: 1200px) {
    .card{
        height: 25rem;
    }
}

.card:hover{
    border-color: #000 !important;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: auto;
}

.card .card-footer{
    height: 1.5rem;
    font-size: .9rem;
    color: #aaa;
    padding-top: 0rem;
    margin-top: 0rem;
    border-top: none;
    background-color: none !important;
}



