// cards
.card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .card{
        height: 27rem;
    }
}

@media (min-width: 1200px) {
    .card{
        height: 25rem;
    }
}

.card:hover{
    border-color: #000 !important;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: auto;
}

.card .card-footer{
    height: 1.5rem;
    font-size: .9rem;
    color: #aaa;
    padding-top: 0rem;
    margin-top: 0rem;
    border-top: none;
    background-color: none !important;
}


// Post Utils

.post-body h3{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.post-body img{
    border-radius: .7rem;
    display: block;
    height:auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.post-body figure img{
    margin-top: 1rem;
    margin-bottom: 0.5rem !important;
}

@media (min-width: 1024px) {
    .post-body figure.formula img {
        transform: scale(1.3); 
        height: auto;

    }
    .post-body figure.formula  {
        display: block;
    }
}

.post-body figure{
    margin-bottom: 2rem;
}

.post-body a:hover{
    text-decoration: underline;
}

.post-body .alert p{
    margin: 0px !important;
}

.post-body .alert{
    background-color: #ecefef !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-body figcaption{
    margin-top: 0px;
}



// Post

// .post-body{
//     color:#555;
//     font-size: 18px;
//     line-height: 30px;
// }

// .post-body a {
//     // color: #43b5f7; /* Adjust color as needed */
//     text-decoration: none;
// }

// .post-body a:hover {
//     // color: #bdceeb; /* Hover state color */
//     text-decoration: underline;
// }

// #post-content h2{
//     font-size: 32px;
//     line-height: 36px;
//     font-weight: 400;
// }

// #post-content h5{
//     line-height: 36px;
//     font-weight: 600;
// }

// #post-content .alert p{
//     margin: 0px !important;
// }

// #post-title a:hover{
//     text-decoration: underline !important;
// }
