.hljs {
    line-height: 24px;
    font-size: 14px;
    background: #f8f9fa;
}

pre {
    margin-bottom: 0 !important;
    position: relative; /* This is important for correct positioning of the button */

}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1.3em 1em;
    margin-top: 0;
}

// -------------------

.copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border: none;
    background: transparent;
    cursor: pointer;
}

.copy-btn i {
    font-size: 16px; /* Adjust icon size as needed */
    color: #000; /* Adjust icon color as needed */
}

pre:hover .copy-btn {
    opacity: 1;
}

/* ------------------- */

.code-block {
    // background: #333; /* Adjust to match your theme */
    border-radius:6px;
    margin: 26px 0;
    overflow: hidden; /* For border-radius on child elements */
    border: solid #dedede 1px;
}

.top-bar,
.bottom-bar {
    background: #eee; /* Contrast with code block */
    color: rgb(174, 174, 174);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 1em;
    font-size: 0.80em;
}

// .top-bar {
//     border-bottom: 1px solid #555;
// }

// .bottom-bar {
//     border-top: 1px solid #555;
// }

// .bottom-bar a {
//     color: #a8c7fa; /* Adjust color as needed */
//     text-decoration: none;
// }

// .bottom-bar a:hover {
//     color: #bdceeb; /* Hover state color */
//     text-decoration: underline;
// }

// .copy-btn {
//     background: #555; /* Match with theme */
//     color: white;
//     border: none;
//     padding: 0.5em 1em;
//     cursor: pointer;
// }

