@font-face {
    font-family: 'Hyperlegible';
    src: url('../fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
}

@mixin responsive-container($padding, $border-radius) {
    padding: $padding;
    border-radius: $border-radius;
}

@media (min-width: 1024px) {
    body {
        margin: 0;
    }
    .container {
        @include responsive-container(0, 0);
    }
    .container-fluid {
        @include responsive-container(0, 0.4rem);
    }
}

@media (max-width: 1023px) {
    body {
        margin: 0;
    }
    .container {
        @include responsive-container(1rem, 0);
    }
    .container-fluid {
        @include responsive-container(1rem, 0);
    }
}

body {
    background-color: $color-elevenslab-grey;
    font-family: $font-family-content;
    scrollbar-width: thin;
    scrollbar-color: #888 #333;
}

p, li {
    font-size: $font-size-content;
}

.container-fluid {
    min-height: 100vh;
    background-color: $color-elevenslab-light;
    padding: 0 0 1rem 0;
}


// links
a { 
    outline: none;
}
a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: inherit; 
}

// cursor
.cursor-default:hover {
    cursor: default !important;
}

// Vertical Scroll Bar
::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    border: 3px solid #333;
}

::-webkit-scrollbar {
    width: 12px;
}



