/* bootstrap */
@media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }

body, html{
    /* line-height: 1.8; */
    font-family: 'Open Sans', sans-serif;
    // font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}

a {outline: none;}
a:link {text-decoration: none;color:inherit;}
a:visited {text-decoration:none;color:inherit;}
a:hover {text-decoration: none;color:inherit;}
a:active {text-decoration: none;color:inherit;}

.cursor-default:hover{
    cursor: default !important;
}



/* disable glowing on inputs */
.form-control:focus {
  box-shadow: none;
}
.btn:hover{
    cursor: pointer;
}

/* Modifiers */
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.bg-5 { 
    background-color: #f7f7f7; /* Grey */
    color: #555555;
}

.bg-6 {
    background-color: #eeeeee; /* Grey */
    color: #555555;
}

// .border-bottom{
//     border: rgba(255,255,255,0.5) solid 0px !important;
//     border-bottom-width: 1px !important;
// }
// .border-top{
//     border: rgba(255,255,255,0.5) solid 0px !important;
//     border-top-width: 1px !important;
// }

.w-40{
    max-width: 40%;
}

.fill-viewport {
  min-height: 100vh;
}

.fill-viewport-40 {
  min-height: 40vh;
}

.fill-viewport-70{
  min-height: 70vh;
}

.fill-viewport-80{
  min-height: 80vh;
}

.text-black-40{
    color: rgba(0,0,0,0.4);
}
.text-black-60{
    color: rgba(0,0,0,0.6);
}
.text-black-80{
    color: rgba(0,0,0,0.8);
}
.text-grey{
    color: #707070;
}

/* Bootstrap images */
figcaption{
    padding-top: 1em;
    color: #999999;
}



/* HEADER */

.navbar-brand{
    font-size:26px;
    font-weight: 300;
    color: black;
}
.navbar-brand:hover{
    color: white !important;
}

.navbar {
    letter-spacing: 1px;
    font-weight: 300;
}

.navbar-nav  li a:hover {
    color: #fff !important;
}

// .navbar-toggler {
//     background-color: rgb(79, 79, 79);
// }


/* FOOTER */
.copyright{
    font-size: .8rem;
}
 
.copyright:before{
	color: #5d5d5d;
    content: "© 2023 Roman Volodin";
    font-size: 14px;
}

.social-wrapper{
    cursor: default;
}

.fa-flag:hover {
    color: #1abc9c;
}


/* BLOG */

#blog-posts .post-list-item {
    cursor: default;
}

#blog-posts  .post-list-title:hover{
    color: #2473ce !important;
    text-decoration: underline;
}

#blog-posts .text-green{
    color: #1abc9c !important;
}

// #blog-posts .font-computer{
//     font-family: "Courier New",Consolas,Courier,monospace;
//     color: #707070 !important;
// }

.post-content p{
    font-size: 1.1em;
    // font-weight: 300;
}
