/* FOOTER */
.copyright{
    font-size: .8rem;
}
 
.copyright:before{
	color: #5d5d5d;
    content: "© 2024 Roman Volodin";
    font-size: 14px;
}

.social-wrapper{
    cursor: default;
}

// .fa-flag{
//     color: rgb(148, 148, 148) !important;
// }

.fa-flag:hover {
    // color: #1abc9c !important;
    color: #6c6c6c !important;
}
