footer {
    min-height: 10rem;
}

.copyright:before {
    color: $color-footer-dark;
    content: "Copyright © 2025 Roman Volodin";
    font-size: $font-size-footer-copyright;
}

.social-wrapper {
    cursor: default;
}

.fa-flag {
    &:hover {
        color: $color-footer-dark-lighten; // Use a variable for hover color
    }
}