/* HEADER ------------------------------------------------------------------------*/

.navbar-brand{
    font-size:26px;
    font-weight: 400;
    color: #000000 !important;
    display: flex;
    align-items: center;
    // background-color: aqua;
}
.navbar-brand:hover{
    color: #000000 !important;
}

.navbar-brand img {
    height: 1.5em; /* Adjust this value as needed */
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust the spacing between the logo and text */
}

.navbar {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    
}

.navbar-nav  li a:hover {
    color: #000000 !important;
    
}


// /* HEADER */

// .navbar-brand{
//     font-size:26px;
//     font-weight: 300;
//     color: #000000 !important;
//     display: flex;
//     align-items: center;
// }
// .navbar-brand:hover{
//     color: #000000 !important;
// }

// .navbar-brand img {
//     height: 1.5em; /* Adjust this value as needed */
//     width: auto; /* Maintain aspect ratio */
//     margin-right: 10px; /* Adjust the spacing between the logo and text */
// }

// .navbar {
//     font-size: 19px;
//     letter-spacing: 1px;
//     font-weight: 400;
// }

// .navbar-nav  li a:hover {
//     color: #000000 !important;
// }

// // .navbar-toggler {
// //     background-color: rgb(79, 79, 79);
// // }