
/* HEADER */

.navbar-brand{
    font-size:26px;
    font-weight: 400;
    color: #888888 !important;
}
.navbar-brand:hover{
    color: #000000 !important;
}

.navbar {
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 400;
}

.navbar-nav  li a:hover {
    color: #000000 !important;
}

// .navbar-toggler {
//     background-color: rgb(79, 79, 79);
// }