
// Post Utils

.post-body h3{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.post-body img{
    border-radius: .7rem;
    display: block;
    height:auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.post-body figure img{
    margin-top: 1rem;
    margin-bottom: 0.5rem !important;
}

@media (min-width: 1024px) {
    .post-body figure.formula img {
        transform: scale(1.3); 
        height: auto;

    }
    .post-body figure.formula  {
        display: block;
    }
}

.post-body figure{
    margin-bottom: 2rem;
}

.post-body a:hover{
    text-decoration: underline;
}

.post-body .alert p{
    margin: 0px !important;
}

.post-body .alert{
    background-color: #ecefef !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-body figcaption{
    margin-top: 0px;
}
