// Backgrounds Utilities
.bg-cross{
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2233%22%20height=%2233%22%20viewBox=%220%200%2033%2033%22%3E%3Cpath%20d=%22M0%200%20L2.25%200Z%20M0%200%20L0%202.25Z%20%20M33%2033%20L30.75%2033Z%20M33%2033%20L33%2030.75Z%20%20M33%200%20L30.75%200Z%20M33%200%20L33%202.25Z%20%20M0%2033%20L0%2030.75Z%20M0%2033%20L2.25%2033Z%22%20stroke-opacity=%220.065%22%20stroke-width=%221.1%22%20stroke=%22black%22%20stroke-linecap=%22butt%22%3E%3C/path%3E%3C/svg%3E");
}

.bg-cross-light{
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2233%22%20height=%2233%22%20viewBox=%220%200%2033%2033%22%3E%3Cpath%20d=%22M0%200%20L2.25%200Z%20M0%200%20L0%202.25Z%20%20M33%2033%20L30.75%2033Z%20M33%2033%20L33%2030.75Z%20%20M33%200%20L30.75%200Z%20M33%200%20L33%202.25Z%20%20M0%2033%20L0%2030.75Z%20M0%2033%20L2.25%2033Z%22%20stroke-opacity=%220.045%22%20stroke-width=%221.1%22%20stroke=%22white%22%20stroke-linecap=%22butt%22%3E%3C/path%3E%3C/svg%3E");
}

.bg-checker{
    background-color: burlywood;
}

.bg-content{
    background-color: #f9fcfc;
}

.bg-content-dark{
    background-color: #222326;
}

.bg-content-grey{
    background-color: #f5f8f8;
}