// Fonts Utilities
.font-weight-600{
    font-weight: 600;
}

.font-weight-700{
    font-weight: 700;
}

.font-grey-900{
    color: rgb(80, 80, 80) !important;
}

.font-grey-800{
    color: rgb(100, 100, 100) !important;
}

.font-grey-300{
    color: rgb(130, 130, 130) !important;
}

.font-grey-100{
    color: rgb(233, 233, 233) !important;
}

.font-size-1{
    font-size: 1rem;
}
