//colors
$jetbrain-dark: #1a1b1e;
$elevenlabs-light: #f9fcfc;
$elevenlabs-grey: #dce0e7;
$footer-dark: #5c5d5e;




// primary vars
$website-body-background: $elevenlabs-grey;
$content-background-color: $elevenlabs-light;
$content-font-family: 'Hyperlegible', sans-serif;

//footer
$footer-font-color: $footer-dark;
$footer-copyright-font-size: 1rem;

//size 
$content-font-size: 1.25rem;
