---
layout: default
---

<!-- {{ post.excerpt }} -->

<!-- about me -->
<section id="blog-posts" class="bg-white text-dark py-5">
    <div class="container fill-viewport-70">


        <ul class="list-unstyled">
            {% for post in site.posts %}
            <li class="my-5">
                <a class="text-primary " href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                
      
                <ul class="list-inline">
                    <li class="list-inline-item"><h6><small>{{ post.date | date_to_long_string }}</small></h6></li>
                    {% for tag in post.tags%}
                        <li class="list-inline-item text-info cursor-default"><h6><small>#{{tag}}</small></h6></li>
                    {% endfor %}
                </ul>
                
            </li>
            {% endfor %}
        </ul>


          
        
    </div>

    
</section>

