---
layout: default
---



<section id="blog-posts" class="bg-white text-dark py-5">
    <div class="container fill-viewport-70 ">

        <!-- post index -->
        <ul class="list-unstyled">

            <!-- for each post -->
            {% for post in site.posts %}
            <li class="my-5">

                <div class="row post-list-item ">
                    <!-- middle column takes less space than the container class originally does -->
                    <div class="col-0 col-xl-1 "></div>
                    <div class="col-0 col-xl-2 pt-1 font-monospace text-body-tertiary"><h6>{{ post.date |  date: "%b %-d, %Y" }}</h6></div> 
                    <div class="col-12 col-xl-8 ">

                            <!-- title -->
                            <a class="text-dark post-list-title " href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                            
                            <!-- date and tags -->
                            <ul class="list-inline font-monospace">
                                <!-- <li class="list-inline-item"><h6><small>{{ post.date | date_to_long_string }}</small></h6></li> -->
                                {% for tag in post.tags%}
                                    {% if forloop.last == true %}
                                        <li class="list-inline-item cursor-default text-body-tertiary"><h6>{{tag}}</h6></li>
                                    {% else %}
                                        <li class="list-inline-item cursor-default text-body-tertiary"><h6>{{tag}},</h6></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            
                    </div>
                    <div class="col-0 col-xl-1"></div>
                </div>
                
            </li>
            {% endfor %}
        </ul>


          
        
    </div>

    
</section>

