---
layout: default
---


<section id="blog-posts" class="bg-white text-dark py-5">
    <div class="container">
        <h1 class="post-title text-center py-2">{{ page.title }}</h1>
        <!-- <h6 class="text-muted text-center"> {{ page.date | date_to_long_string }}</h6> -->
        <ul class="list-inline text-center">
            <li class="list-inline-item text-muted"><h6>{{ page.date | date_to_long_string }}</h6></li>
            {% for tag in page.tags%}
                <li class="list-inline-item text-green cursor-default"><h6>#{{tag}}</h6></li>
            {% endfor %}
        </ul>
    </div>
</section>

<section id="blog-posts" class="bg-white text-dark py-5">
    <div class="container fill-viewport-70 pb-5">
        <article class="post-content">
            {{ content }}
        </article>
    </div>
</section>
